<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo correo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="nuevo-container">
    <div class="nuevo-box">
        <h1>Nuevo correo</h1>

        {% if error %}
            <div class="error">
                {{ error }}
            </div>
        {% endif %}

        {% if mensaje %}
            <div class="ok">
                {{ mensaje }}
            </div>
        {% endif %}

        <form method="POST">
            <label>Para</label>
            <input type="email" name="destinatario" required>

            <label>Asunto</label>
            <input type="text" name="asunto" required>

            <label>Mensaje</label>
            <textarea name="cuerpo" required></textarea>

            <div class="acciones-form">
                <a href="/bandeja">Volver</a>
                <button type="submit">Enviar correo</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
