* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #f4f6f8;
    color: #333;
}

.menu {
    width: 260px;
    min-height: 100vh;
    background: #1e293b;
    color: white;
    padding: 20px;
}

.menu h2 {
    margin-bottom: 10px;
}

.menu p {
    font-size: 14px;
    color: #cbd5e1;
    margin-bottom: 25px;
}

.menu nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu nav a {
    text-decoration: none;
    color: white;
    background: #334155;
    padding: 10px;
    border-radius: 8px;
}

.menu nav a:hover {
    background: #475569;
}

.menu form {
    margin-top: 30px;
}

.menu input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.menu button {
    width: 100%;
    padding: 10px;
    background: #0ea5e9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.limpiar {
    display: block;
    margin-top: 20px;
    color: #f87171;
    text-decoration: none;
}


.contenido {
    flex: 1;
    padding: 30px;
}


.cabecera {
    margin-bottom: 30px;
}

.cabecera h1 {
    margin-bottom: 10px;
}


.lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tarjeta {
    display: block;
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    color: #333;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.tarjeta:hover {
    transform: scale(1.01);
    transition: 0.2s;
}

.tarjeta-arriba {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.prioridad {
    background: #dbeafe;
    color: #1d4ed8;
    padding: 5px 10px;
    border-radius: 20px;
}


.detalle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bloque {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.vacio {
    background: white;
    padding: 20px;
    border-radius: 12px;
}
