<style>
      body{font-family:Segoe UI;background:#f2f2f2;padding:30px;}
      .card{background:white;max-width:700px;margin:auto;padding:20px;border-radius:10px;border-top:8px solid crimson;}
      label{color:crimson;font-weight:600;}
      input,textarea,select{width:100%;padding:10px;border:1px solid #ddd;border-radius:6px;margin-top:6px;}
      .row{margin-bottom:15px;}
      button{background:crimson;color:white;border:none;padding:10px 14px;border-radius:6px;cursor:pointer;}
      a{color:crimson;text-decoration:none;}
      .top{display:flex;justify-content:space-between;align-items:center;}
    </style>
